<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <p><a href="/">Library System</a></p>
</nav>
    <div class="home welcome">
        <h2 id="home-heading">Welcome to the Library management</h2>
        
        <div class="buttons">
            <button class="btn1"><a href="/register">Signup</a></button>
            <button class="btn2"><a href="/login">Login</a></button>
        </div>
        <p class="success-reg"><strong><%=success%></strong></p>
    </div>

</body>
</html>
