<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body><nav>
    <p><a href="/">Library System</a></p>
</nav>
<div class="form">
    <form action="/register" method="post">
        <h2>Signup</h2>
        <input autocomplete="off" type="text" name="name" placeholder="Name">
        <input autocomplete="off" type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password" id="p1">
        <input type="password" name="cpassword" placeholder="Confirm Password" id="p2">
        <p id="reg-para"><%=failure%></p>
        <button type="submit" id="reg">Signup</button>
    </form>
</div>

</body>
</html>