<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body><nav>
    <p><a href="/">Library System</a></p>
</nav>
<div class="form">
    <form action="/change" method="post">
        <h2>Update Form</h2>
        <input autocomplete="off" type="text" name="name" placeholder="Name">
        <input autocomplete="off" type="text" name="author" placeholder="Author">
        <button type="submit" id="reg-btn">Update!</button>
    </form>
</div>

</body>
</html>